<!-- apps/profiles/templates/profiles/profile_detail.html -->
{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}
{% load static %}

    {% block content %}
    <main class="profile my-md">
        <div class="container">
            <div class="layout">

                <!-- Aside -->
                <div class="column column--1of3">
                    <div class="card text-center">
                        <div class="card__body dev">
                            <img class="avatar avatar--xl" src="{{profile.profile_image.url}}" />
                            <h2 class="dev__name">{{profile.name|title}}</h2>
                            <p class="dev__title">{{profile.short_intro|title}}</p>
                            <p class="dev__location">Based in {{profile.location|title}}</p>
                            
                            <!-- Social -->
                            <ul class="dev__social">
                                {% if profile.facebook %}
                                <li>
                                    <a title="Facebook" href="#" target="_blank"><i class="im im-facebook"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.twitter %}
                                <li>
                                    <a title="Twitter" href="#" target="_blank"><i class="im im-twitter"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.instagram %}
                                <li>
                                    <a title="Instagram" href="#" target="_blank"><i class="im im-instagram"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.linkedin %}
                                <li>
                                    <a title="LinkedIn" href="#" target="_blank"><i class="im im-linkedin"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.youtube %}
                                <li>
                                    <a title="Youtube" href="#" target="_blank"><i class="im im-youtube"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.stackoverflow %}
                                <li>
                                    <a title="Stackoverflow" href="#" target="_blank"><i class="im im-stackoverflow"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.github %}
                                <li>
                                    <a title="Github" href="#" target="_blank"><i class="im im-github"></i></a>
                                </li>
                                {% endif %}
                                {% if profile.website %}
                                <li>
                                    <a title="Personal Website" href="#" target="_blank"><i class="im im-globe"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- END Social -->

                            <a href="#" class="btn btn--sub btn--lg">Send Message </a>
                        </div>
                    </div>
                </div>
                <!-- END Aside -->

                <!-- Main Profile content -->
                <div class="column column--2of3">
                    
                    <!-- About -->
                    <div class="devInfo">
                        <h3 class="devInfo__title">About Me</h3>
                        <p class="devInfo__about">{{profile.bio|safe}}
                        </p>
                    </div>
                    <!-- END About -->

                    <!-- Skills -->
                    <div class="devInfo">
                        <h3 class="devInfo__title">Skills</h3>
                        <div class="devInfo__skills">
                            <!-- Skill with description -->
                            <div class="devSkill">
                                <h4 class="devSkill__title">JavaScript</h4>
                                <p class="devSkill__info">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque voluptatum ut? Quaerat, ea
                                    cumque! Dolorum provident esse molestias commodi odit sapiente quod quasi corrupti obcaecati? Nobis
                                    ex temporibus quaerat!
                                </p>
                            </div>
                            <!-- Skill with description -->
                            <div class="devSkill">
                                <h4 class="devSkill__title">React</h4>
                                <p class="devSkill__info">
                                    Smet consectetur adipisicing elit. Omnis, nihil? Accusamus aspernatur aut debitis vitae quaerat
                                    nihil fugiat, doloremque nesciunt alias pariatur maxime unde, nam saepe laborum at odit labore.
                                </p>
                            </div>
                            <div class="devSkill">
                                <h4 class="devSkill__title">Express(Nodejs)</h4>
                                <p class="devSkill__info">
                                    Auae error deleniti aperiam enim nisi nesciunt, ratione eveniet eos fuga ad recusandae mollitia!
                                    Facere earum, distinctio nihil recusandae ipsum nesciunt. Possimus, ex. Officia maxime nihil
                                    inventore cum tenetur! Veritatis sapiente libero ducimus nesciunt itaque, placeat inventore sint
                                    blanditiis?
                                </p>
                            </div>
                            <h3 class="devInfo__subtitle">Other Skills</h3>
                            <!-- Skill without description -->
                            <div class="devInfo__otherSkills">
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>Figma</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>Vuejs</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>REST API</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>GraphQL</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>TypeScript</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>Webpack</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>NextJS</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>Postgres</small>
                                </span>
                                <span class="tag tag--pill tag--sub tag--lg">
                                <small>MongoDB</small>
                                </span>
                            </div>
                            <!-- END Skill without description -->
                        </div>
                    </div>
                    <!-- END Skills -->

                    <!-- Projects -->
                    <div class="devInfo">
                        <h3 class="devInfo__title">Projects</h3>
                        <div class="grid grid--two">
                            <div class="column">
                                <div class="card project">
                                    <a href="single-project.html" class="project">
                                        <img class="project__thumbnail" src="images/project-b.png" alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title">DevSearch UI Design</h3>
                                            <p>
                                    <a class="project__author" href="profile.html">By Shahriar P. Shuvo</a></p>
                                    <p class="project--rating">
                                    <span style="font-weight: bold;">92%</span> Postitive
                                    Feedback (62 Votes)
                                    </p>
                                    <div class="project__tags">
                                    <span class="tag tag--pill tag--main">
                                    <small>NextJS</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                    <small>GraphQL</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                    <small>TypeScript</small>
                                    </span>
                                    </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card project">
                                    <a href="single-project.html" class="project">
                                        <img class="project__thumbnail" src="images/project-c.png" alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title">Another Landing Page</h3>
                                            <p>
                                    <a class="project__author" href="profile.html">By Dennis Ivanov</a></p>
                                    <p class="project--rating">
                                    <span style="font-weight: bold;">36%</span> Postitive
                                    Feedback (18 Votes)
                                    </p>
                                    <div class="project__tags">
                                    <span class="tag tag--pill tag--main">
                                    <small>NextJS</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                    <small>GraphQL</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                    <small>TypeScript</small>
                                    </span>
                                    </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card project">
                                    <a href="single-project.html" class="project">
                                        <img class="project__thumbnail" src="images/project-a.png" alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title">Yoga Studio Landing Page Website and Design</h3>
                                            <p>
                                    <a class="project__author" href="profile.html">By Dennis Ivanov</a></p>
                                    <p class="project--rating">
                                    <span style="font-weight: bold;">98%</span> Postitive
                                    Feedback (72 Votes)
                                    </p>
                                    <div class="project__tags">
                                    <span class="tag tag--pill tag--main">
                                    <small>NextJS</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                    <small>GraphQL</small>
                                    </span>
                                    <span class="tag tag--pill tag--main">
                                    <small>TypeScript</small>
                                    </span>
                                    </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Projects -->

                </div>
                <!-- END Main Profile content -->

            </div>
        </div>
    </main>
    {% endblock content %}
