<!-- apps/projects/templates/projects/project_list.html -->
{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}
{% load static %}

    {% block content %}

    <main class="projects">
        <section class="hero-section text-center">
            <div class="container container--narrow">
                <div class="hero-section__box">
                    <h2>Search for <span>Projects</span></h2>
                </div>
                <div class="hero-section__search">
                    <form class="form" action="#" method="get">
                        <div class="form__field">
                            <label for="formInput#search">Search By Projects </label>
                            <input class="input input--text" id="formInput#search" type="text" name="text"
                                placeholder="Search by Project Title" />
                        </div>
                        <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                    </form>
                </div>
            </div>
        </section>
        <!-- Search Result: DevList -->
        <section class="projectsList">
            <div class="container">
                <div class="grid grid--three">

                    {% if projects %}
                    {% for project in projects %}
                    <!-- Project card -->
                    <div class="column">
                        <div class="card project">

                            <a href="{% url 'projects:project_detail' %}" class="project">

                                <!-- Project image -->
                                <img class="project__thumbnail" 
                                    src="{{project.featured_image.url}}" 
                                    alt="project thumbnail" />
                                
                                <!-- Card -->
                                <div class="card__body">

                                    <!-- Project title -->
                                    <h3 class="project__title">{{project.title|title}}</h3>
                                    
                                    <!-- Project owner and link to its own profile -->
                                    <p>
                                        <a class="project__author" 
                                            href="{% url 'decors:profile_detail' project.owner.id %}">
                                            {{project.owner|title}}
                                        </a>
                                    </p>

                                    <!-- Vote -->
                                    <p class="project--rating">
                                        <!-- Vote ratio -->
                                        <span style="font-weight: bold;">
                                            {{project.vote_ratio}}%
                                        </span> 
                                        <!-- Vote total prular/singular-->
                                        Postitive Feedback 
                                        ({{project.vote_total}} 
                                        Vote{{project.vote_total|pluralize:"s"}})
                                    </p>

                                    <!-- Tags -->
                                    <div class="project__tags">
                                    {% if projects %}
                                        {% for tag in project.tags.all %}
                                        <span class="tag tag--pill tag--main">
                                        <small>{{tag|title}}</small>
                                        </span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="tag tag--pill tag--main">
                                        <small>No tags found.</small>
                                    {% endif %}
                                    </div>
                                    <!-- END Tags -->

                                </div>
                                <!-- END Card -->
                            </a>
                            
                        </div>
                    </div>
                    <!-- Project card -->
                    {% endfor %}
                    {% else %}
                    <!-- Project card -->
                    <div class="column">
                        <div class="card project">
                            <p>No project found!</p>
                        </div>
                    </div>
                    <!-- Project card -->
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="pagination">
            <ul class="container">
                <li><a href="#" class="btn btn--disabled">&#10094; Prev</a></li>
                <li><a href="#" class="btn btn--sub">01</a></li>
                <li><a href="#" class="btn">02</a></li>
                <li><a href="#" class="btn">03</a></li>
                <li><a href="#" class="btn">04</a></li>
                <li><a href="#" class="btn">05</a></li>
                <li><a href="#" class="btn">06</a></li>
                <li><a href="#" class="btn">07</a></li>
                <li><a href="#" class="btn">08</a></li>
                <li><a href="#" class="btn">09</a></li>
                <li><a href="#" class="btn">10</a></li>
                <li><a href="#" class="btn">Next &#10095;</a></li>
            </ul>
        </div>
    </main>
    <a href="{% url 'projects:project_detail' %}">Project Detail</a>
    {% endblock content %}
